<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
     <link rel="stylesheet" href="../../css/nav.css"> 
     <link rel="stylesheet" href="../../css/list.css">
</head>
<body>
  {{>navbar}}
    <div class="img22"></div>
        <table  id="abd">
         <thead>
      
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
             <th>Message</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody class="tb">
                {{#each contactlist}}
                <tr align="center">
              
                      <td style="width:15%">{{this.name}}</td>>
                      <td style="width:19%">{{this.email}}</td>
                      <td style="width:26%">{{this.subject}}</td>
                      <td style="width:35%">{{this.message}}</td>
                      <td style="width:5%">
                        <a href="/deletecontact/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" style="color: rgb(238, 241, 240);"> 
                        <i class="fa fa-trash" > </i></a>
                      </td>
                </tr>
                {{/each}}
              
        </tbody>
        </table>
      </div>
</body>
</html>